<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href=""><h3>Abirechner</h3></a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
    </ul>
    <span class="navbar-text">
      Entwickelt von Berkay Süer
    </span>
  </div>
</nav>
<div class="pl-2 pt-2 text-left">
        <h5 class="font-weight-regular">
    Trag deine Endnoten ein:
        </h5>
    </div>

    <form action="#" method="post">
      <div class="row pl-3 mt-4">
    <div class="w-40  col">
      <div class=" form-group">
    <label for="deu"><strong>fdsfdcvcvsfsdfdsfsdfds</strong></label>
    <select class="selectpicker form-control"  id="deu" name="deu">
      <option hidden >Bitte Wählen</option>
      <option value="0">0</option>
       <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
        <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>

    </select>
  </div>
    </div>

    <div class="w-40  col">
      <div class="form-group">
    <label for="Englisch"><strong>Englisch</strong></label>
    <select class="form-control" id="Englisch" name="eng">
      <option hidden >Bitte Wählen</option>
      <option value="0">0</option>
       <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
        <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
    </select>
  </div>
      </div>
    </div>
      <div class="row pl-3 mt-4">
      <div class="w-40  col">
      <div class="form-group">
    <label for="Mathe"><strong>Mathe</strong></label>
    <select class="form-control" id="Mathe" name="mat">
      <option hidden >Bitte Wählen</option>
      <option value="0">0</option>
       <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
        <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
    </select>
  </div>
    </div>
      <div class="w-40  col">
      <div class="form-group">
    <label for="Naturwissenschaft 1"><strong>Naturwissenschaft 1</strong> </label>
    <select class="form-control" id="Naturwissenschaft 1" name="nw1">
      <option hidden >Bitte Wählen</option>
      <option value="0">0</option>
       <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
        <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
    </select>
  </div>
    </div>
        </div>

        <div class="row pl-3 mt-4">
      <div class="w-40  col">
      <div class="form-group">
    <label for="Naturwissenschaft 2">Naturwissenschaft 2</label>
    <select class="form-control" id="Naturwissenschaft 2" name="nw2">

      <option hidden >Bitte Wählen</option>
      <option value="0">0</option>
       <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
        <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
    </select>
  </div>
    </div>

      <div class="w-40 col">
      <div class="form-group">
    <label for="Naturwissenschaft 3">Naturwissenschaft 3</label>
    <select class="form-control" id="Naturwissenschaft 3" name="nw3">
      <option hidden >Bitte Wählen</option>
      <option value="0">0</option>
       <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
        <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
    </select>
        </div>
        </div>
          </div>

          <div class="row  mt-4">
      <div class="col text-center">
      <div class="pt-1 text-center">
        <button type="submit" class="btn btn-warning"><strong>Durchschnittsnote Berechnen</strong>
</button>
  </div>
  </div>
    </div>

</form>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>
